body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0px;
}

#content {
    max-width: 50rem;
    resize: horizontal;
    margin: auto;
    padding: 0rem 1rem;
}

pre {
    padding: 1em;
    line-height: 1.6;
    border-style: solid;
    background-color: #272822;
    color: white;
    border-radius: 10px;
}

pre a {
    color: white;
}

a, a:visited {
    color: blue;
}

a:hover {
    background-color: yellow; 
}

header {
    background-color: #00B9FB;
    padding: 8px 8px 14px 8px;
    display: flex;
    justify-content: center;
}

#header-content {
    width: 50rem;
    display: flex;
    align-items: center;
}

header a,
header a:visited {
    color: white;
    text-decoration: none;
}

header h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    line-height: 1.2;
}

header h2 {
    margin-block-start: 0em;
    margin-block-end: 0px;
    color: white;
    line-height: 1.2;
}

#site-title-and-subtitle {
    margin-right: 0.5em;
}

#header-links {
    display: flex;
}

footer {
    background-color: #12C700;
    color: white;
    padding: 0.5em;
}

#post-date {
    color: gray;
}

#post-tags a {
    background-color: #12C700;
    color: white;
    padding: 2px;
}

.post-tags-on-index {
    color: #12C700;
}

.page-link {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 10px;
    height: 2em;
    min-width: 3em;
    margin-right: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link:hover {
    background-color: #12C700;
}

.page-link img {
    width: 15px;
}