body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0px;
    background-color: #fbfbff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    max-width: 50rem;
    align-self: flex-start;
    margin: auto;
    padding: 0rem 1rem;
}

pre {
    padding: 1em;
    line-height: 1.6;
    border-style: solid;
    background-color: #272822;
    color: white;
    border-radius: 10px;
}

pre a {
    color: white;
}

a, a:visited {
    color: blue;
}

a:hover {
    background-color: #E5E5E5;
}

header {
    background-color: #003566;
    padding: 8px 8px 14px 8px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 8px 1px rgba(41,41,41,.25);
}

#header-content {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    #header-content {
        padding-left: 1rem;
    }
}

header a,
header a:visited {
    color: white;
    text-decoration: none;
}

header h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    line-height: 1.2;
}

header h2 {
    margin-block-start: 0em;
    margin-block-end: 0px;
    color: white;
    line-height: 1.2;
    font-size: 1.2em;
}

#site-title-and-subtitle {
    margin-right: 0.5em;
}

#site-title-and-subtitle a div:hover h1 {
    color: #fca311;
}

#site-title-and-subtitle a div:hover h2 {
    color: #fca311;
}

#header-links {
    display: flex;
}

footer {
    background-color: #fca311;
    color: white;
    padding: 0.5em;
}

#post-date {
    color: gray;
}

#post-tags a {
    background-color: #1E96FC;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.content-element-tag {
    background-color: #1E96FC;
    color: white;
    padding: 2px;
}

.content-element-link a {
    font-size: larger;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.content-element-date {
    color: #6c757d;
}

.page-link {
    display: inline-block;
    color: white;
    padding: 8px;
    border-radius: 10px;
    height: 2em;
    min-width: 3em;
    margin-right: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}

.page-link:hover {
    background-color: #fca311;
}

.page-link img {
    width: 15px;
}

#all-tags {
    padding: 1em;
    box-shadow: 0 0 20px #e5e5e5;
    border-radius: 10px;
    background-color: white;
}

#all-tags a {
    color: blue;
}

.content-element {
    padding: 1em;
    margin-bottom: 1em;
    border: 2px rgb(211, 211, 211) solid;
    background-color: white;
    border-radius: 10px;
}
