<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    {{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = printf "%s: %s" .Site.Title .Site.Params.Subtitle }}{{ end }}
    <title>{{ $title }}</title>

    {{ if eq .Section "blog" }}
    <meta name="description" content="{{ .Summary }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>