<header>
    <div id="header-content">

        <div id="site-title-and-subtitle">
            <a href="{{ .Site.BaseURL }}">
                <div>
                    <h1 class="title">{{ .Site.Title }}</h1>
                    <h2>{{ .Site.Params.Subtitle }}</h2>
                </div>
            </a>
        </div>
        <div id="header-links">
            <a class="page-link" href="{{ .Site.BaseURL }}">Home</a>

            {{ range where .Site.Pages "Section" "" }}
                {{ if ne .Permalink .Site.BaseURL }}
                    <a class="page-link" href="{{.Permalink}}">{{.Title}}</a>
                {{ end }}
            {{ end }}

            <a class="page-link" href="{{ .Site.BaseURL }}collection">Collections</a>

            <a class="page-link" href="{{ .Site.BaseURL }}blog/index.xml">
                <img src="/images/rss.svg">
            </a>
        </div>
    </div>
</header>
