<header>
    <div id="site-header">
        <h1 class="title">{{ .Site.Title }}</h1>
        <h2>{{ .Site.Params.Subtitle }}</h2>

        <a class="page-link" href="{{ .Site.BaseURL }}">Home</a>

        {{ range where .Site.Pages "Section" "" }}
            {{ if ne .Permalink .Site.BaseURL }}
                <a class="page-link" href="{{.Permalink}}">{{.Title}}</a>
            {{ end }}
        {{ end }}

        <a class="page-link" href="{{ .Site.BaseURL }}lists">Lists</a>

        <a class="page-link" href="{{ .Site.BaseURL }}index.xml">
            <img src="/images/rss.svg">
        </a>

    </div>
</header>