{{ define "main" }}

<div>
    <h2>Tags</h2>
    <div id="all-tags">
        {{ range.Site.Taxonomies.tags.ByCount }}
            <a href="tags/{{ .Name }}">{{ .Name }} ({{ .Count }})</a>&nbsp;
        {{ end }}
    </div>
</div>

<div>
    <h2>Blog posts</h2>
    <ul>
    {{ range where .Site.Pages "Layout" "==" "post"}}
        <li>
            <span class="post-date-on-index">{{.Date.Format "2006-01-02"}}</span>
            <a href="{{.Permalink}}">{{.Title}}</a> 
            <span class="post-tags-on-index">
                {{ range .Params.tags }}
                    [{{ . }}]
                {{ end }}
            </span>
        </li>
    {{ end }}
    </ul>
</div>

{{ end }}
