{{ define "main" }}

<div>
    <h2>Tags</h2>
    <div id="all-tags">
        {{ range.Site.Taxonomies.tags.ByCount }}
            <a href="tags/{{ .Name }}">{{ .Name }} ({{ .Count }})</a>&nbsp;
        {{ end }}
    </div>
</div>

<div>
    <h2>Blog posts</h2>
    <div id="posts">
    {{ range where .Site.Pages "Layout" "==" "post"}}
        <div class="post-box">
            <div class="post-date-on-index">{{.Date.Format "January 2, 2006"}}</div>
            <div class="post-link-on-index"><a href="{{.Permalink}}">{{.Title}}</a></div>
            <div class="post-tags-on-index">
                {{ range .Params.tags }}
                    <span class="tag-on-index">{{ . }}</span>
                {{ end }}
            </div>
        </div>
    {{ end }}
    </div>
</div>

{{ end }}
